<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>About US</title>
</head>
       {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css'%} ">
<body>
<h2> This is about us page.</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit.
    Adipisci ea facere, impedit obcaecati placeat praesentium provident quasi repellendus. Optio pariatur totam voluptatibus. Ducimus eveniet fuga, iste optio quidem rerum sapiente  </p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Amet atque beatae, blanditiis dicta doloribus expedita facilis
    maxime molestias mollitia, nulla optio perferendis quibusdam rem repudiandae, soluta tempora tempore veritatis voluptatem.</p>
<img src="{% static 'img/pexels-kevin-bidwell-1352783.jpg'%}" alt="" height="650" width="1000">
</body>
</html>