<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Contact us</title>
</head>
       {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css'%} ">
<body>
<h2> This is our contact page.</h2>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Alias amet assumenda consequuntur cum dolorum eligendi facilis,
    fuga ipsam neque nihil pariatur perferendis perspiciatis rerum sed similique tempore ullam voluptate voluptatum.</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi aspernatur consectetur consequuntur corporis cupiditate
    dicta dolorem doloremque error fugiat, laborum maiores minima, molestias numquam obcaecati odit, quae rem repellendus tempora.</p>
<div class="mapps">
    <iframe src="https://goo.gl/maps/TVL72ZnkQ6q721gd6" frameborder="0"></iframe>
</div>
</body>

</html>