<!doctype html>
<html lang="en">
<head>
       {% load static %}
    <link rel="stylesheet" href="{% static 'css/style.css'%} ">
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>services</title>
</head>
<body>
<h1>This is about us page</h1>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A adipisci cum incidunt ipsam magni quaerat quisquam quos recusandae tempore vel.
    A asperiores, commodi consectetur deleniti illo numquam officiis omnis sunt?</p>
<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. At deserunt facere illo incidunt ipsa quo! Alias animi,
    asperiores aspernatur ducimus eligendi enim facere libero nemo possimus suscipit, vel voluptatem voluptatibus!</p>
</body>
</html>